<%  include top.html%>
<div class="layui-col-md8 mainbody-right">
    <div class="layui-col-md2 topright">
            
        <div class="toptall">
            所有成员（总人数）
        </div>
       
        <div>
            <ul>
                <li>计算机科学与技术（人）</li>
                <li>物联网（人）</li>
                <li>信息通信（人）</li>
                <li>软件管理（人）</li>
            </ul>
        </div>



    </div>
    <div class="layui-col-md10 topleft">
        <div class="layui-row topleft-top">
            <div class="layui-col-md3" >
                    <span style="color: #585858;font-size: 20px"><b>所有学生的通讯录</b></span>   
            </div>
            <div class="layui-col-md5 layui-col-md-offset4">
                      <input type="text" placeholder="请输入成员名字" class="inputstyle" name='username'>
                      <button class="layui-btn layui-btn-radius layui-btn-primary layui-btn-sm search" type="button" >搜索</button>
                </div>
        </div>
        <div class="layui-row ">
                单个学生通讯录
            </div>

    </div>
</div>
<% include footer.html%>