<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理员</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <div class="layui-fluid index">
        <div class="layui-row top">
            <div class="layui-col-md9">
                <img src="/img/3.png" alt="" srcset="">
            </div>
            <div class="layui-col-md3">
                <img src="" alt="头像" srcset="">
                <span>用户名</span>
            </div>
        </div>

        <div class="layui-row mainbody">
            <div class="layui-col-md1 mainbody-left">
                <ul class="mian-left-ul">
                    <li class="home">
                        <a href="/admin/home">
                            <div class="ahome"></div>
                            主页
                        </a>
                    </li>
                    <li class="tel">
                        <a   href="/admin/tel">
                            <div class="atel"></div>
                            通讯录
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="atel"></div>
                            课程信息
                        </a>
                    </li>
                    <li></li>
                </ul>
            </div>
